@page "/customers"


@inject ContainerStorage ContainerStorage
@rendermode InteractiveServer
<h3>Customers</h3>


<SearchBarComponent SearchBarInfo="@searchLabel" SearchUsersCallBack="HandleSearchCustomer" OnClearSearchBarCallBack="HandleClearSearchBar" @ref="searchBarComponent">
    <SelectControl>
        <InputSelect @bind-Value="selectedMonth" class="@(selectedMonth == 0 ? "text-secondary" : "text-danger border-danger")">
            <option value="0">-- All Months --</option>
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i" class="text-dark">@GetSelectedMonthName(i)</option>
            }
        </InputSelect>
    </SelectControl>
    <ElementControl>
        <a class="btn btn-outline-secondary" href="/customer"> Add Customer </a>
    </ElementControl>
</SearchBarComponent>


<CustomerListComponent FilteredCustomersData="@filteredCustomers" PageSize="@pageSize" CurrentPage="@currentPage" TotalPagesCallBack="HandleTotalPage" OnSortingCallBack="HandleSorting" selectedMonthFilter=@selectedMonth @ref="customerListComponent"></CustomerListComponent>



<PaginationComponent TotalPages="@totalPages" PageSizeCallBack="HandlePageSize" CurrentPageCallBack="HandleCurrentPage" @ref = "paginationComponent"></PaginationComponent>


@code {
    
    private int selectedMonth = 0;

    private string searchLabel = "Enter Customers Info";    

    private int totalPages;

    private int pageSize;

    private int currentPage;

    private string? filteredCustomers = string.Empty;

    private SearchBarComponent? searchBarComponent;

    private PaginationComponent? paginationComponent;

    private CustomerListComponent? customerListComponent;

    private string GetSelectedMonthName(int selectedMonth)
    {
        return new DateTime(2025, selectedMonth, 1).ToString("MMMM"); // Get month namer
    }

    private void HandleTotalPage(int totalPages)
    {
        this.totalPages = totalPages;
    }

    private void HandlePageSize(int pageSize)
    {
        this.pageSize = pageSize;
        searchBarComponent?.ClearSearchBar();
        customerListComponent?.ClearSorting();  

    }

    private void HandleCurrentPage(int currentPage)
    {
        this.currentPage = currentPage;
    }

    public void HandleClearSearchBar()
    {
        filteredCustomers = string.Empty;
        selectedMonth = 0;
        customerListComponent?.ClearSorting();
    }

    public void HandleSorting()
    {
        paginationComponent?.setCurrentPage(1);
    }

    public void HandleSearchCustomer(string customerFilterData)
    {
        currentPage = 1;
        ContainerStorage.setCurrentPage(1);
        filteredCustomers = customerFilterData;

    }


}
